.about-page {
  position: relative;
  padding: 6rem 4rem 6rem 10rem;
}

.about-title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-60%) rotate(-90deg);
  transform-origin: left top;
  font-size: 70px;
  color: #660033;
  letter-spacing: 2px;
  white-space: nowrap;
  background-color: yellow;
}


.about-layout {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 4rem;
  align-items: start;
}

.about-text {
  max-width: 600px;
}

.about-block {
  margin-bottom: 3rem;
}

.about-block h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.about-block h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background:rgb(213, 213, 3);
  margin-top: 6px;
}

.about-block p {
  line-height: 1.8;
  font-size: 1rem;
}


.about-image img {
  width: 100%;
  max-width: 360px;
  border-radius: 20px;   
  object-fit: cover;
}

@media (max-width: 900px) {
  .about-title {
    position: static;
    transform: none;
    font-size: 40px;
    text-align: center;
    background-color: transparent;
  }

  .about-page {
    padding: 4rem 2rem;
  }
 
}