/*styles related for placement of the div project boxed in the container and the inside informaiton*/
.projects-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 100px; 
  }
  
  .projects__display--box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 2rem auto;
  }

  /* Mobile */
  @media (max-width: 768px) {
    .projects__display--box {
      grid-template-columns: 1fr;
      padding: 0 1rem;
    }
  
    .project-detail--out {
      width: 79%;
      height: 100vh;
    }
  
    .carousel-buttons button:first-child {
      left: 10px;
    }
  
    .carousel-buttons button:last-child {
      right: 10px;
    }
  }