/* ImageModal.css */
.modal-overlay {
    /* Position and style the background overlay */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other content */
  }
  
  .modal-content {
    /* Constrain the image within the modal content area */
    max-width: 100%;
    max-height: 100%;
    padding: 20px; /* Add some padding */
    text-align: center;
  }
  
  .modal-image {
    /* Ensure the image fits within the screen on mobile */
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain; /* Prevents image distortion, fits within view */
    cursor: pointer;
  }
  
  .close-button {
    /* Style the close button */
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
  }
  