.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  align-items: center;
  position: sticky; /*is not working ATM - TODO*/
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a, .logo {
  text-decoration: none;
  color: black;
  font-weight: bold;
}