.project__card {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.project__card:hover{
  transform: translateX(6px);
}
.project__card::marker {
  display: none;
}
/* left green line */
.project__card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 100%;
  background-color: #087321; 
  transform: scaleY(0);
  transition: transform 0.3s ease;
  z-index: 3;
}
.project__card:hover::before {
  transform: scaleY(1);
}
/*bottom green line*/
.project__card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #087321;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s ease;
  z-index: 3;
}
.project__card:hover::after {
  transform: scaleX(1);
}

.project__card img {
  width: 100%;
  height: 250px; 
  object-fit: cover;
}

.project__card h2 {
  position: absolute;
  left: 15px;
  color: white;
  padding: 10px;
  z-index: 2;
}

.project__card h2 {
  bottom: 10px;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.3);
  padding: 8px 12px;
  margin-bottom: 10px;
  backdrop-filter: blur(-1px);
  border-radius: 4px;
}


/* dark overlay for text readability */
.project__media::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(transparent, rgba(143, 15, 15, 0.85));
}


/* to: darken whole image */
.project__media::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); 
  z-index: 1;
}

.project__card h2 {
  z-index: 2; 
}

.coming-soon-placeholder p {
  position: absolute;
  top: 35%;
  right: 35%;
}
@media (max-width: 768px) {
  .project__card img {
    height: 200px;
  }
  .coming-soon-placeholder {
    height: 200px;
  }
}

/* TODO: BENTO STYLE VERY FUN
.project__card {
border-radius: 20px;
overflow: hidden;
position: relative;
cursor: pointer;
transition: all 0.3s ease;
}

.project__card:nth-child(1) { grid-column: 1 / 3; grid-row: 1 / 2; }
.project__card:nth-child(2) { grid-column: 3 / 5; grid-row: 1 / 2; }
.project__card:nth-child(3) { grid-column: 1 / 2; grid-row: 2 / 4; }
.project__card:nth-child(4) { grid-column: 2 / 4; grid-row: 2 / 3; }
.project__card:nth-child(5) { grid-column: 2 / 5; grid-row: 3 / 4; }

.project__card img {
width: 100%;
height: 100%;
object-fit: cover;
}
*/





