/*
typically applies in react -> app wide layout rules (like grid, wrapper, background)
*/


body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #333;
  font-size: 18px;
  line-height: 1.75;
  color: #2a2a2a; /* Soft black, ikke harsh */
}

h1 {
  letter-spacing: 6px;
  text-transform: uppercase;
}

h2, h3 {
  letter-spacing: 2px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

html, body, #root{
    height:100%;
}

#root {
    display: flex;
    flex-direction: column;
}

.outer__parent--box {
    flex: 1;
    background-color: rgb(255, 255, 255);
}

body.no-scroll {
    overflow: hidden;
}
