/*
typically applies in react -> app wide layout rules (like grid, wrapper, background)
*/

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap');

html, body, #root{
    height:100%;
    font-family: 'Crimson Text', serif;
}

#root {
    display: flex;
    flex-direction: column;
}

.outer__parent--box {
    flex: 1;
    background-color: rgb(255, 255, 255);
}

body.no-scroll {
    overflow: hidden;
}
